/************************************************
FILE:		  	layout.css
DESCRIPTION:  	Defines layout - Dimensions, display, floats, position, background, borders etc

	1. = PAGE LAYOUT TYPOGRAPHY 	(ALL PAGES: header footer etc)
	2. = MUTLIPAGE TYPOGRAPHY		(SOME PAGES: based on wrapper - '#wrapper p')
	3. = SINGLE PAGE TYPOGRAPHY		(ONE PAGE: based on page wrapper - .pageName .class)			


	1. = PAGE LAYOUTS
************************************************/

/* BASICS */
	html				{height:100%;}
	body 				{height:100%; background: #fdfdfc url(../img/bg/bgBody.png) center 6px; position:relative;}

				
	/* Quickfix Classes */
		.clearB			{clear: both;}
		.clearL			{clear: left;}
		.clearR			{clear: right;}
		.floatL			{float: left;}
		.floatR			{float: right;}
		.clear			{clear:both; font-size:1px; height:1px; line-height:1px; margin:0px; padding:0px; width:100%;}
		.clearfix:after	{content: "."; display: block; height: 0; clear: both; visibility: hidden;}	
		.container		{max-width:986px; margin:0 auto;}





/* SPRITES */

	/* 1. Interface - 24 Bit */
		#fShadow,
		#hShadow,
		#navSubShadow,
		.navMain .active,
		.navMain .active i,
		article .hr,
		.box2 .top,
		.box2 .bottom,
		button					{background-image: url(../img/sprites/01spr_interface_24bit.png);}
	
	/* 2. Icons - 24 Bit */
		article ul li,
		.icon1,
		.icon2,
		.icon3,
		.icon4					{background-image: url(../img/sprites/02spr_icons_24bit.png); background-repeat:no-repeat;}
	
	/* 3. Language */
		#rss a,
		#twitter a,
		#email a,
		#phone,
		#navHome,
		#navServices,
		#navMethod,
		#navEthos,
		#navShowcase,
		#navContact,
		.navSub a,
		#getInTouch button,
		#adr strong,
		#hours strong,
		#getInTouch legend a	{background-image: url(../img/sprites/en_03spr_langauge_24bit.png); background-repeat:no-repeat;}










/* HEADER (positioned at bottom) */
	header		{display:block; position:fixed; bottom:0; left:0; width:100%; height:234px; background: url(../img/bg/bgHeader.png) center 0 repeat-x; z-index:9999;}
	#hShadow	{width:100%; height:2px; margin:-2px 0 0 0; background-position:0 -3px;}
	#logo		{float:right; padding:13px 27px 0 0;}
	#logo img	{display:block;}
	
	/* Nav Main */
		.navMain					{float:left; height:47px;}
		.navMain ul					{margin:0; padding:17px 0 0;}
		.navMain li					{float:left; padding:4px 0 16px; list-style-type:none; }
		.navMain a					{display:block; padding:0 27px 3px; border-left:1px solid #3c4046; border-right:1px solid #282b2f; }
		.navMain .first				{border-left:none;}
		.navMain .last				{border-right:none;}
		.navMain .active 			{background-position:1px -5px;}
		.navMain .active a			{position:relative;}
		.navMain .active i			{display:block; position:absolute; right:0; top:-4px; width:3px; height:31px; background-position:-317px -9px;}
		.navMain .navSub			{display:none;}
		.navMain li:hover .navSub	{display:block;}
		
		/* Image Replacement Text */
			#navHome,
			#navServices,
			#navMethod,
			#navEthos,
			#navShowcase,
			#navContact			{height:9px; text-indent:-9999px; overflow:hidden;}
			
			#navHome			{width:40px; background-position:27px -58px;}
			#navServices		{width:63px; background-position:27px -73px;}
			#navMethod			{width:57px; background-position:27px -88px;}
			#navEthos			{width:42px; background-position:27px -103px;}
			#navShowcase		{width:75px; background-position:27px -118px;}
			#navCareers			{width:60px; background-position:27px -133px;}
			#navContact			{width:65px; background-position:27px -148px;}
			
			/* Active, Hover, Focus */
				strong #navHome,
				#navHome:hover		{background-position:right -58px;}
				strong #navServices,
				#navServices:hover	{background-position:right -73px;}
				strong #navMethod,
				#navMethod:hover	{background-position:right -88px;}
				strong #navEthos,
				#navEthos:hover		{background-position:right -103px;}
				strong #navShowcase,
				#navShowcase:hover	{background-position:right -118px;}
				strong #navCareers.
				#navCareers:hover	{background-position:right -133px;}
				strong #navContact,
				#navContact:hover	{background-position:right -148px;}
		
		/* Nav Sub*/
			.navSub				{position:absolute; left:0; top:47px; width:100%; overflow:hidden; margin:0; padding:0; background:#2d3136;}
			.navSub ul			{width:675px; margin:0 auto; position:relative; left:-134px; padding:20px 0 16px;}
			.navSub li			{width:210px; margin:0 15px 0 0; padding:0 0 3px 0;}
			.navSub a			{padding:0; width:213px; height:21px; text-indent:-9999px; overflow:hidden; cursor:pointer !important; border:none;}
			.navSub strong a	{cursor:default !important;}
			
			/* Image Replacement Text */
				#navAll			{background-position:0 -165px;}
				#navDesDev		{background-position:0 -190px;}
				#navLarScal		{background-position:0 -215px;}
				#navSocCom		{background-position:0 -240px;}
				#navOnlTv		{background-position:0 -265px;}
				#navBesCon		{background-position:0 -290px;}
				#navTaiECo		{background-position:0 -315px;}
				
				/* Active, hover, focus */
					strong #navAll,
					#navAll:hover		{background-position:right -165px;}
					strong #navDesDev,
					#navDesDev:hover	{background-position:right -190px;}
					strong #navLarScal,
					#navLarScal:hover	{background-position:right -215px;}
					strong #navSocCom,
					#navSocCom:hover	{background-position:right -240px;}
					strong #navOnlTv,
					#navOnlTv:hover		{background-position:right -265px;}
					strong #navBesCon,
					#navBesCon:hover	{background-position:right -290px;}
					strong #navTaiECo,
					#navTaiECo:hover	{background-position:right -315px;}
					
					
			/* Contact Sub Nav */
				#contactInfo a			{width:auto; height:auto; text-indent:0; background:none;}
				#contactInfo strong,
				#contactInfo legend a	{display:block; height:11px; text-indent:-999px; overflow:hidden;}
				
				/* Address */
					#adr 				{float:left; width:190px; padding:41px 0 34px 29px;}
					#adr strong			{width:99px; background-position:right -340px; margin-bottom:2px;}
					
				/* Contacts (emails + phone no's) */
					#contacts			{float:left; width:251px; padding:54px 0 34px;}
					#contacts dt		{float:left; width:60px; clear:left;}
					#contacts dd		{float:left; width:auto; clear:right;}
					
				/* Hours */
					#hours				{float:left; width:217px; padding:41px 0 34px;}
					#hours strong		{width:77px; background-position:right -355px; margin-bottom:1px;}
					#hours dt			{float:left; width:80px; clear:left;}
					#hours dd			{width:auto; clear:right;}		
					
				/* Contact Form */
					#getInTouch				{float:left; width:258px; padding:41px 0 34px;}
					#getInTouch legend a	{width:86px; background-position:right -370px;}
					#getInTouch dl			{padding-top:15px;}
					#getInTouch dt			{float:left; width:85px; padding-bottom:12px; clear:left;}
					#getInTouch dd			{float:left; padding-bottom:12px; clear:right;}
					#getInTouch button		{float:right; width:85px; margin: -4px -3px 0 0; background-position:0 -341px;}
					#getInTouch input		{width:161px;}

		
	
	/* Has JS */
		/* Header */
			.hasJs header		{overflow:hidden; height:45px;}
	
		/* Nav Sub */
			.hasJs .navSub	  		{display:none; overflow:hidden;}
			.hasJs .active .navSub	{display:block;}
			
			
			
		
/* FOOTER (positioned at top) */
	#pageFooter		{display:block; position:absolute; top:0; left:0; width:100%; min-height:22px; background: #303439;}
	#fShadow		{width:100%; height:2px; position:relative; bottom:-2px;}
	#pageFooter ul	{margin:0; padding:5px 0 3px;}
	#pageFooter li	{list-style-type:none;}
	
	/* Text */
		#email a,
		#phone,
		#twitter a,
		#rss a		{height:12px; text-indent:-9999px;}		
	
		#email		{float:left; padding:0; border-right:1px solid #292c30;}
		#email a	{float:left; width:157px; background-position:0 3px;}
		#phone		{float:left; width:168px; padding:0 0 0 9px; border-left:1px solid #3d4248; background-position:9px -12px;}
		#rss		{float:right; width:75px; padding:0; border-left:1px solid #3d4248;}
		#twitter	{float:right; width:74px; padding:0; border-right:1px solid #292c30;}
		#rss a		{float:right; width:75px; background-position:10px -43px;}
		#twitter a	{float:right; width:74px; background-position:0 -28px;}	
		
		/* Hover */
			#email a:hover		{background-position:right 3px;}
			#phone a:hover		{background-position:right -12px;}
			#twitter a:hover	{background-position:right -28px;}
			#rss a:hover		{background-position:right -43px;}




/************************************************
	2. = MULTI PAGE LAYOUT	(SOME Pages)
************************************************/

/* COLUMN SYSTEMS */
	#template		{padding:82px 0 110px; position:relative; right:-1px;}

	/* Three Columns */
		.threeColumns				{margin:0; padding:0;}
		.threeColumns .clm 			{float:left; width:306px; margin:0; padding:0; list-style-type:none;}
		.threeColumns .clmMiddle 	{width:306px; margin:0 34px 0 34px;}





/* ARTICLES */
	/* Headings */
		article h1			{margin:0 0 5px;}
		article .intro		{margin:0 0 14px 0;}
		article h2			{margin:-10px 0 16px 0;}

	/* Copy */
		article p			{padding:0 0 20px 0;}
		article .hr			{height:14px; margin:0 0 28px; clear:both; background-position:center -41px;}
		article hr			{display:none;}
		article ul			{margin:0; padding:2px 0 18px 21px;}
		article li			{margin:0 0 12px 0; padding:0 0 0 21px; background-position:0 1px;}
	
	/* Footer */
		article footer		{display:block; margin:0; clear:both;}
		
	/* Specific Types */
		
		/* Article 1 (Large Media Box at top, 3 columns, see: article_2.html) */
			.article1 .intro	{margin:0 0 25px 0; float:left; clear:both; width:100%;}
			
		/* Article 2 (Med Media Box at top, copy on right, 3 columns below, see: _article2.html) */
			.article2 .intro	{margin-bottom:26px;}
			.article2 .box3		{float:left; margin-right:27px;}
			.article2 h2		{margin-top:19px;}
			.article2 h3		{margin-top:-14px; margin-bottom:19px;}
			.article2 h4		{margin-bottom:5px;}
			.article2 .icon1	{float:right; margin-top:-8px; margin-bottom:23px;}
			
		/* Article 3 (3 colums, sma media box top of each column, see: _article3.html) */
			.article3 .intro	{margin-bottom:25px;}
			.article3 h2		{margin-top:0; margin-bottom:3px;}
			.article3 ul		{padding-top:5px}
			.article3 li		{background:none; padding-left:0; margin-bottom:9px;}
			.article3 .icon2	{position:relative; left:-5px;}
			
		/* Article 4 (Red box, then 3 columns, see: showcase_landing.html) */
			.article4 .intro	{margin-bottom:27px;}
			.article4 nav h2	{margin-top:0; margin-bottom:18px;}
			.article4 nav li	{background:none;}
					
		
		




	
/* IMAGE BASED HEADINGS */
	.imageText1,
	.imageText2,
	.imageText3				{display:block; width:100%; overflow:hidden; text-indent:-9999px;}

	/* Page h1 */
		.imageText1			{height:27px;}
	
	/* Page h2 (Sub Heading) */
		.imageText2			{height:10px;}
		
	/* Aside h2, h3, h4 */
		.imageText3			{width:100%;}
	


		
		
		
		
/* BOXES */
	.box,
	.box img			{display:block; position:relative;}
	.box .hover			{display:none;}
	.box:hover .hover	{display:block; width:205px; height:100%; position:absolute; top:0; right:0; background:url(../img/content/aside/hover1.png);}
	
	/* Box Offset - use to negative margin boxes with shadows inside columns */
		.boxOffset1		{margin-left:-9px !important;}
		.boxOffset2		{margin-left:-7px !important;}
		.boxOffset3		{margin-left:-4px !important;}
		.boxOffset4		{margin-left:-8px !important;}
		
		
	/* Box 1 - Apply to large images (see img dimensions below), adds white BG + shadow */
		.box1			{padding:11px 17px 22px 17px; margin: 0 0 12px 0; clear:both; background:url(../img/bg/bgBox1.png) 0 0 no-repeat;}
		.box1 img		{width:624px; height:351px;}
		

	/* Box 2 - Green BG + text, used for Asides */
		.box2			{width:311px; margin:0 0 11px 0;}
		.box2 .top		{height:29px; background-position:-320px -5px;}
		.box2 .bottom	{height:41px; background-position:0 -55px;}
		.box2 .content	{padding:0 24px; background:url(../img/bg/bgBox2Content.png) -3px 0 repeat-y;}
		
		/* Content */
			.box2 h2,
			.box2 h3	{margin-top:-1px; margin-bottom:12px;}
			.box2 .last	{padding:0;}
			
		
	/* Box 3 - Apply to med images (see img dimensions below), adds white BG + shadow */	
		.box3			{padding:11px 17px 22px 17px; margin: 0 0 12px 0; clear:both; background:url(../img/bg/bgBox3.png) 0 0 no-repeat;}
		.box3 img		{width:422px; height:237px;}
		
		
	/* Box 4 - Apply to sma images (see img dimensions below), adds white BG + shadow */
		.box4			{padding:13px 15px 15px 13px; margin:0 0 14px 0; background:url(../img/bg/bgBox4.png) 0 0 no-repeat;}
		.box4 img		{width:286px; height:102px;}
			
		
	/* Box 5 - Red Background, image on left, text on right, large.  (See: showcase_landing.html) */
		.box5				{width:1000px; height:384px; margin-bottom:23px; background:url(../img/bg/bgBox5.png) 0 0 no-repeat;}
		.box5 .content		{width:966px;  height:351px; margin:0 7px; padding:10px; overflow:hidden; background:url(../img/bg/bgBox5.png) -7px 0 no-repeat;}
		.box5 #slideshow	{float:left; margin-right:20px;}
		.box5 h2			{margin-top:23px !important; margin-bottom:4px; height:13px;}
		.box5 h3			{padding-bottom:3px;}
		.box5 ul			{padding-left:661px; padding-bottom:15px;}
		.box5 li			{background-position:0 -240px;}
		.box5 .icon4		{float:right; margin-right:28px;}
		
		
	/* Box 6 - White, shadows (See: showcase_landing.html) */
		.box6				{width:266px; height:260px; padding:26px 28px 0; margin-bottom:32px; background:url(../img/bg/bgBox6.png) 0 0 no-repeat;}
		.box6 img			{margin:0 auto 10px;}
		.box6 h3			{margin-bottom:7px;}
		.box6 em			{display:block;}
		.box6 .icon1		{float:right;}
		
		
		
		

/* LISTS */

	/* 1. Slideshow */
		#slideshow				{width:624px; height:351px; margin:0; padding:0; overflow:hidden; position:relative;}
		#slideshow li			{margin:0; padding:0; position:absolute; top:0; left:0; list-style-type:none; z-index:8;}
		#slideshow .last-active	{z-index:9;}
		#slideshow .active		{z-index:10;}
		
		

		






/* SIGN UP BOX - sign up to the newsletter */
	.boxSignUp			{width:322px; height:87px; position:relative;}
	.boxSignUp input	{position:absolute; top:38px; left:29px; width:161px;}
	.boxSignUp button	{position:absolute; top:34px; left:205px; width:81px;  background:url(../img/bg/bgBtnSignUp.png) 0 0;}
	
	
	
	
/* FORMS */
	button				{height:26px; text-indent:-999px; overflow:hidden; border:none; outline:none; background:none; cursor:pointer;}
	input[type=text]	{padding:0 5px; height:16px; border:1px solid #2a2f33; background:url(../img/bg/bgTextArea.png);}
	
	
	

/* Icon Links */
	/* Red Arrow, right side */
		.icon1		{display:block; height:19px; padding:0 23px 0 0; background-position:right -120px;}
	/* Red Arrow, left side */
		.icon2		{display:block; height:19px; padding:0 0 0 23px; background-position:-22px -120px;}
	/* Dark Red Arrow, right side */
		.icon3		{display:block; height:19px; padding:0 23px 0 0; background-position:right -360px;}
	/* Large Red Arrow, right side */
		.icon4		{display:block; height:22px; padding:0 26px 0 0; background-position:right -420px;}



/************************************************
	3. = SINGLE PAGE CONTENT LAYOUT	 (ONE Page)
************************************************/	


		
	