/************************************************
FILE:		  	typography.css
DESCRIPTION:  	Defines typography - line-height, text-align, font-size, color, font-weight etc

	1. = PAGE LAYOUT TYPOGRAPHY 	(ALL PAGES: header footer etc)
	2. = MUTLIPAGE TYPOGRAPHY		(SOME PAGES: based on wrapper - '#wrapper p')
	3. = SINGLE PAGE TYPOGRAPHY		(ONE PAGE: based on page wrapper - .pageName .class)
			
************************************************/


/************************************************
	1. = PAGE LAYOUT TYPOGRAPHY		
************************************************/
body		{font: 12px 'Helvetica Neue', Helvetica, sans-serif; text-align:center; color: #636363;}



/* HEADER */

	/* Nav Main */			
		/* Nav Sub*/
			/* Contact Sub Nav */				
				/* Address */
					#adr 					{font-size:12px; line-height:16px; color:#8e9294; font-style:normal;}
					#adr strong				{color:#f7f7f7; font-size:13px;}
					
				/* Contacts */
					#contacts				{line-height:16px; font-size:12px;}
					#contacts dt			{color:#c0c7cb;}
					#contacts dd			{color:#8d9193;}
					#contacts a:link,
					#contacts a:visited		{color:#ed1847; text-decoration:none;}
					#contacts a:hover,
					#contacts a:focus,
					#contacts a:active		{text-decoration:underline;}
					
				/* Hours */
					#hours				{line-height:16px; font-size:12px;}
					#hours strong		{color:#f7f7f7; font-size:13px;}
					#hours dt			{color:#c1c8cc;}
					#hours dd			{color:#8d9193;}
					#hours a:link,
					#hours a:visited	{color:#ed1847; text-decoration:none;}
					#hours a:hover,
					#hours a:focus,
					#hours a:active		{text-decoration:underline;}
			
				/* Contact Form */
					#getInTouch legend a	{color:#f7f7f7; font-size:13px;}
					#getInTouch dt			{color:#c1c8cc; font-size:11px;}
			


/* FOOTER (positioned at top) */



/* Containers */
	.container	{text-align:left;}

	
	
	
/************************************************
	2. = MUTLIPAGE TYPOGRAPHY		(SOME PAGES)
************************************************/


/* ARTICLES */

	/* Headings */
		article h1			{font-size:28px; font-weight:bold; line-height:28px; color:#2a2e33;}
		article .intro		{color:#949ca0; font-size:13px; line-height:13px;}
		article h2			{color:#33383c; font-size:12px;}
		article h3,
		article h4			{color:#33383c;}
		

	/* Copy */
		article p			{color:#636363; font-size:12px; line-height:21px;}	
		article a:link,
		article a:visited 	{color: #ed1847; text-decoration:none;}
		article a:hover,
		article a:focus,
		article a:active 	{text-decoration:underline;}
		article li			{color:#33383c; font-size:12px;}
		
		/* Specific Types */
			/* Article 1 (Large Media Box at top, 3 columns, see: _generic_2.html) */
			/* Article 2 (Med Media Box at top, copy on right, 3 columns below, see: team.html) */
				.article2 h2		{font-size:20px; line-height:20px;}
				.article2 h3		{font-size:18px; line-height:18px;}
				.article2 h4		{font-size:13px; line-height:13px;}

			/* Article 3 (3 colums, sma media box top of each column, see: _article3.html) */				
			/* Article 4 (Red box, then 3 columns, see: showcase_landing.html) */
				.article4 nav h2	{font-size:18px; line-height:18px;}
				

	
	
	


/* BOXES */
	/* Box Offset - use to negative margin boxes with shadows inside columns */
	/* Box 1 - Apply to large images, adds white BG + shadow */
		.box2 h2,
		.box2 h3,
		.box3 h4		{font-size:16px; line-height:16px; color:#50624c; font-weight:bold;}
		.box2 p			{color:#698164;}
		
	/* Box 2 - Green BG + text, used for Asides */
		/* Content */
	/* Box 3 - Apply to med images (see img dimensions below), adds white BG + shadow */	
	/* Box 4 - Apply to sma images (see img dimensions below), adds white BG + shadow */
	/* Box 5 - Red Background, image on left, text on right, large.  (See: showcase_landing.html) */
		.box5 h2		{font-size:14px; color:#131517;}
		.box5 h3		{font-size:20px; color:#fff;}	
		.box5 p			{color:#edb6c2; line-height:18px;}
		.box5 li		{color:#2a2e33;}
		.box5 a:link	{color:#fff;}
		
	/* Box 6 - White, shadows (See: showcase_landing.html) */
		.box6			{text-align:center;}
		.box6 h3		{color:#ed1941; font-size:13px; text-align:left;}
		.box6 em		{color:#33383c; font-size:12px; font-weight:normal;}
		.box6 p			{line-height:18px; text-align:left;}
		.box6 .icon1	{font-size:10px; text-transform:uppercase; font-weight:bold;}
		
		/* Hover */
			.box6:hover,
			.box6:focus,
			.box6:active 		{text-decoration:none;}
			.box6:hover .icon1,
			.box6:focus .icon1,
			.box6:active .icon1	{text-decoration:underline;}






/* Forms */
	input[type=text]		{color:#9c9c9c; line-height:11px; font: 11px 'Helvetica Neue', Helvetica, sans-serif; }
	input[type=text]:hover,
	input[type=text]:focus	{color:#2A2F33;}
	
/* Icon Links */	
	/* Red Arrow, right side */
		.icon1		{line-height:18px;}
	/* Red Arrow, left side */
		.icon2		{line-height:18px;}	
	/* Dark Red Arrow, right side */
		.icon3		{color:#fff; font-size:10px; line-height:18px; font-weight:bold; text-transform:uppercase;}	
	
	
/************************************************
	3. = SINGLE PAGE TYPOGRAPHY		(ONE Page)
************************************************/

