/************************************************

FILE:		  	ie7.css
DESCRIPTION:  	File Fixes IE7 Bugs

************************************************/

/* @group 1. Generic Fixes */
	.clearfix	{zoom:1;}

	/* @group Generic List Fixes */
	dl		{float:left !important;}
	dt 		{float:left !important; clear:left !important;}				
	dd		{float:none !important;}
	
	ol		{padding-left:0;}
	ol ol	{padding-left:0;}	

	/* @group end */
/* @group end */


/* @group 2. Navigation */	

	
/* @end */