/************************************************
FILE:		  	typography.css
DESCRIPTION:  	file defines typography - line-height, text-align, font-size, color, font-weight etc

	1. = PAGE LAYOUT TYPOGRAPHY 	(ALL Pages)
	2. = GENERIC TYPOGRAPHY 		(MOST Pages)
	3. = MUTLIPAGE TYPOGRAPHY		(SOME PAGES)
	4. = SINGLE PAGE TYPOGRAPHY		(ONE Page)
			
************************************************/


/************************************************
	1. = PAGE LAYOUT TYPOGRAPHY		
************************************************/

body	{text-align:center;}

/* HEADER */


	/* Nav Main */
		.navMain a,
		.navMain a:link,
		.navMain a:visited		{color:#4b5259; font-size:12px; text-transform:uppercase;}
		.navMain a:hover,
		.navMain a:focus,
		.navMain a:active,
		.navMain .active strong a	{color:#d7d7d7 !important; font-weight:normal !important;}
		
		
		/* Nav Sub*/
			.navSub					{text-align:left;}
			.navSub a,
			.navSub a:link,
			.navSub a:visited		{color:#929292; font-size:10px; text-transform:uppercase;}
			.navSub a:hover,
			.navSub a:focus,
			.navSub a:active		{color:#d7d7d7;}

/* FOOTER */



/* Containers */
	.container	{text-align:left;}

	
	
/************************************************
	2. = GENERIC TYPOGRAPHY			(MOST PAGES)
************************************************/

/* TYPOGRAPHY ELEMENTS */	
	h1, h2 , h3, h4, h5, h6		{color:#3d3d3d;}
	h1 				{font-size: 116%;}
	h2, h3		 	{font-size: 108%;}
	h4, h5, h6		{font-size: 100%;}
	
	p 				{color:#888;}
	strong 			{font-weight:bold; color: #191919;}
	p strong		{color:#5f5f5f;}
	small			{color:#c0c0c0;}
	em				{color:#5f5f5f;}

	blockquote p 	{font-style: italic; }
	blockquote cite {text-align: right; font-weight: bold;}
	
/* Links */	
	a,
	a:link,
	a:visited 	{color: #009fca; text-decoration:none;}
	a:hover 	{color: #017ea0;}
	a:focus		{color: #017ea0;}
	a:active 	{color: #009fca;}
	
	strong a,
	strong a:link,
	strong a:visited 	{color: #009fca;}
	strong a:hover 		{color: #017ea0;}
	strong a:focus		{color: #017ea0;}
	strong a:active 	{color: #009fca;}
	

/* TABLES */
	table 		{text-align:left; }
	th			{font-weight:bold; font-size:100%;}
	

/* LISTS */
	dt			{color:#000;}
	dd			{color:#000;}
	
	
	
	
/************************************************
	3. = MUTLIPAGE TYPOGRAPHY		(SOME PAGES)
************************************************/
	
	
	
	
	
	
	
	
/************************************************
	4. = SINGLE PAGE TYPOGRAPHY		(ONE Page)
************************************************/

