<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="_assets/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="_assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="_assets/css/typography.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]><link href="_assets/css/fix_ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!--[if lt IE 7]><link href="_assets/css/fix_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->
	
	<script src='_assets/js/jquery14.js'></script>
	<script src="_assets/js/jquery.easing.js"></script>
	<script src='_assets/js/application.js'></script>
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<title>RiffRaff - Web Design &amp; Development</title>

</head>
<body>	
	
	
	<header>
		<div class="container clearfix">
			<a href="/" title="RiffRaff: Web Design &amp; Web Development" id="logo">
				<img src="_assets/img/riffRaff.png" width="114" height="26" alt="RiffRaff Logo" />
			</a>
			<nav id="navMain" class="navMain">
				<ul class="clearfix">
					<li><a href="/" title="View: RiffRaff Homepage" class="first" id="navHome">Home<i></i></a></li>
					<li class="active">
						<strong>
							<a href="/web-design-development-specialities.html" title="The Web Design &amp; Development Services RiffRaff Offer" id="navServices">Services</a>
						</strong>
						<nav class="navSub clearfix">
							<ul class="clearfix">
								<li><strong><a id="navAll" href="/web-design-development-specialities.html" title="The Web Design &amp; Development Services RiffRaff Offer">All Services</a></strong></li>
								<li><a id="navDesDev" href="/specialities/web-design-and-development.html" title="Website Design &amp; Development with RiffRaff">Web Design &amp; Development</a></li>
								<li><a id="navLarScal" href="/specialities/large-scale-web-applications.html" title="Large Scale Web Application Design &amp; Development">Large Scale Web Applications</a></li>
								<li><a id="navSocCom" href="/specialities/social-community-portal-websites.html" title="Social &amp; Community Portal Design &amp; Development">Social &amp; Community Portals</a></li>
								<li><a id="navOnlTv" href="/specialities/online-tv-video-platforms.html" title="Online TV &amp; Video Platform Design &amp; Development">Online TV &amp; Video Platforms</a></li>
								<li><a id="navBesCon" href="/specialities/bespoke-content-management-sytems.html" title="Bespoke Content Management System Design &amp; Development">Bespoke <abbr title="Content Management Systems">CMS</abbr> Development</a></li>
								<li><a id="navTaiECo" href="/specialities/tailored-ecommerce-websites.html" title="Tailored E-Commerce Design &amp; Development">Tailored E-Commerce Solutions</a></li>
							</ul>
						</nav>
					</li>
					<li><a href="/web-design-development-method.html" title="RiffRaff's Method For Web Design &amp; Development" id="navMethod">Method<i></i></a></li>
					<li><a href="/web-design-development-ethos.html" title="RiffRaff's Ethos for Web Design &amp; Development" id="navEthos">Ethos<i></i></a></li>
					<li><a href="/web-design-development-showcase.html" title="RiffRaff's Web Design &amp; Web Development Portolio" id="navShowcase">Showcase<i></i></a></li>
					<li><a href="/contact-riffraff.html" title="Contact Details for RiffRaff" class="last" id="navContact">Contact<i></i></a></li>
				</ul>
			</nav>
			
		</div>	
	</header>	
	

<!-- END LAYOUT (Header) [] -->
<!-- START LAYOUT (ID: Template) [All Content always sits inside the template] -->
		
	<div id="template" class="container clearfix">
		
		<article class="article2 threeColumns" >
			
			<h1>Our Design Process</h1>
			<p class="intro">Page sub heading will go below here lorem ipsum dolar sit amet consecteture...</p>
			
			<div class="clear"></div>
			
			<img src="_assets/img/content/sample/the-a-team.jpg" width="422" height="237" alt="The A Team" class="box3 boxOffset2" />
			<h2>Not Just Any Old RiffRaff...</h2>
			<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti non provident, similique sunt in culpa qui officia deserunt. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>

			<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis <a href="#" title="">praesentiumt quia non numquam</a>.</p>

			<div class="hr"><hr /></div>
		
			<h3>Join The RiffRaff</h3>
			
			<div class="clm clm1">
			
				<h4>Web Developer</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur</li>
					<li>Adipisicing elit, sed do eiusmod tempor</li>
					<li>Incididunt ut labore et dolore magna aliqua</li>
					<li>Ut enim ad minim veniam quis nostrud</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" title="Work at RiffRaff, Send us Your CV" class="icon1">Send us your CV</a>
				
			</div>
		
		<!-- END: CLM1 -->
		
			<div class="clm clmMiddle">
		
				<h4>User Interface</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur</li>
					<li>Adipisicing elit, sed do eiusmod tempor</li>
					<li>Incididunt ut labore et dolore magna aliqua</li>
					<li>Ut enim ad minim veniam quis nostrud</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" title="Work at RiffRaff, Send us Your CV" class="icon1">Send us your CV</a>

			</div>
		
		<!-- END: CLM2 -->
		
			<div class="clm">
			
				<h4>Project Manager</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur</li>
					<li>Adipisicing elit, sed do eiusmod tempor</li>
					<li>Incididunt ut labore et dolore magna aliqua</li>
					<li>Ut enim ad minim veniam quis nostrud</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" title="Work at RiffRaff, Send us Your CV" class="icon1">Send us your CV</a>

			</div>
		
		<!-- END: CLM3 -->
			
			<footer>
				<div class="hr"><hr /></div>
				<nav>
					<ul class="threeColumns clearfix">
						<li class="clm">
							<a href="#" title="View: Why Riffraff Views Business As Karma" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-ethos-business-is-karma.png" width="322" height="87" alt="Our Ethos: Business Is Karma" />
							</a>
						</li>
						<li class="clm clmMiddle">
							<a href="#" title="View: How RiffRaff Design and Develop Websites" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-process-findout-how-we-do-it.png" width="322" height="87" alt="Our Process: Find out How We Do It" />
							</a>
						</li>
						<li class="clm">
							<a href="#" title="View: RiffRaff's Web Design &amp; Development Portfolio" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-portfolio.png" width="322" height="87" alt="Our Portfolio: See A Section of work" />
							</a>
						</li>
					</ul>
				</nav>
			</footer>
			
			
		<!-- END: Article Footer -->
			
		</article>
		
	<!-- END Article -->
		
	
	
		
	

	</div>
		
<!-- END LAYOUT (ID: Template) [All Content Must have ended by here] -->
<!-- START LAYOUT (ID: Footer) [Copyright + Global Nav] -->

	<footer id="pageFooter">
		<div class="container">
			<address>
				<ul class="clearfix">
					<li id="email"><a href="mailto:info@studioriffraff.com" title="Email RiffRaff">info@studioriffraff.com</a></li>
					<li id="phone">+44 (0)191 233 1153</li>
					<li id="rss"><a href="#" title="Keep upto date via RSS">rss</a></li>
					<li id="twitter"><a href="#" title="RiffRaff on Twitter">twitter</a></li>
				</ul>
			</address>
		</div>	
		<div id="fShadow"></div>
	</footer>
	
	<script>ie7 = false; ie6 = false;</script>
	<!--[if lte IE 7]><script>ie7 = true;</script><![endif]-->
	<!--[if lt IE 7]><script> ie7 = false; ie6 	= true;</script><![endif]-->	
	
</body>
</html>