<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/layout.css" rel="stylesheet" type="text/css" />
	<link href="css/typography.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]><link href="css/fix_ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!--[if lt IE 7]><link href="css/fix_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->	
	<link href="css/fix_print.css" rel="stylesheet" type="text/css" media="print" />
	
	<script src='js/jquery14.js'></script>
	<script src="js/jquery.easing.js"></script>
	<script src='js/application.js'></script>

	<title>Riff Raff - Blank Page</title>	
</head>
<body id="ethos">	
	
	<header >
		<div class="container clearfix">
			<a href="#" title="View: RiffRaff Homepage" id="logo">
				<img src="_assets/img/header/logo.png" width="114" height="26" alt="RiffRaff Logo" />
			</a>
			<nav id="navMain" class="navMain">
				<ul class="clearfix">
					<li><a href="#" title="View: RiffRaff Homepage" class="first">Home</a></li>
					<li><a href="#" title="Find Out: The Services RiffRaff Offer">All Services</a></li>
					<li><a href="#" title="Read: RiffRaff's Unique Method">Method</a></li>
					<li class="active">
						<strong><a href="#" title="Read: RiffRaff's Unique Ethos">Ethos</a></strong>
						<nav id="nSEthos" class="navSub clearfix">
							<ul class="clearfix">
								<li><a href="#" title="About: RiffRaff's Holistic Approach To Design">Holistic Design</a></li>
								<li><a href="#" title="About: The Best Practices RiffRaff employs">Best Practice</a></li>
								<li><a href="#" title="About: The Great Service RiffRaff offers">Great Service</a></li>
							</ul>
						</nav>
					</li>
					<li><a href="#" title="View: RiffRaff's Portolio">Showcase</a></li>
					<li><a href="#" title="Contact Details for RiffRaff">Contact</a></li>
					<li><a href="#" title="About: Working for RiffRaff">Careers</a></li>
				</ul>
			</nav>
		</div>	
	</header>	
	

<!-- END LAYOUT (Header) [] -->
<!-- START LAYOUT (ID: Template) [All Content always sits inside the template] -->
		
	<div id="template" class="one-clm clearfix">
		


	</div>
		
<!-- END LAYOUT (ID: Template) [All Content Must have ended by here] -->
<!-- START LAYOUT (ID: Footer) [Copyright + Global Nav] -->
	<footer>
		<div class="container">
			<address>
				<span id="phone">+44 (0)191 233 1153</span>
				<a href="#" title="Email RiffRaff" id="email">info@studioriffraff.com</a>
				<a href="#" title="Keep Upto date via RSS" class="rss">Rss</a>
			</address>
		</div>	
	</footer>
	
	<script>ie7 = false; ie6 = false;</script>
	<!--[if lte IE 7]><script>ie7 = true;</script><![endif]-->
	<!--[if lt IE 7]><script> ie7 = false; ie6 	= true;</script><![endif]-->	
	
</body>
</html>