<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="_assets/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="_assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="_assets/css/typography.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]><link href="_assets/css/fix_ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!--[if lt IE 7]><link href="_assets/css/fix_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->
	
	<script src='_assets/js/jquery14.js'></script>
	<script src="_assets/js/jquery.easing.js"></script>
	<script src='_assets/js/application.js'></script>
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<title>RiffRaff - Web Design &amp; Development</title>

</head>
<body>	
	
	
	<header>
		<div class="container clearfix">
			<a href="/" title="RiffRaff: Web Design &amp; Web Development" id="logo">
				<img src="_assets/img/riffRaff.png" width="114" height="26" alt="RiffRaff Logo" />
			</a>
			<nav id="navMain" class="navMain">
				<ul class="clearfix">
					<li><a href="/" title="View: RiffRaff Homepage" class="first" id="navHome">Home<i></i></a></li>
					<li class="active">
						<strong>
							<a href="/web-design-development-specialities.html" title="The Web Design &amp; Development Services RiffRaff Offer" id="navServices">Services</a>
						</strong>
						<nav class="navSub clearfix">
							<ul class="clearfix">
								<li><strong><a id="navAll" href="/web-design-development-specialities.html" title="The Web Design &amp; Development Services RiffRaff Offer">All Services</a></strong></li>
								<li><a id="navDesDev" href="/specialities/web-design-and-development.html" title="Website Design &amp; Development with RiffRaff">Web Design &amp; Development</a></li>
								<li><a id="navLarScal" href="/specialities/large-scale-web-applications.html" title="Large Scale Web Application Design &amp; Development">Large Scale Web Applications</a></li>
								<li><a id="navSocCom" href="/specialities/social-community-portal-websites.html" title="Social &amp; Community Portal Design &amp; Development">Social &amp; Community Portals</a></li>
								<li><a id="navOnlTv" href="/specialities/online-tv-video-platforms.html" title="Online TV &amp; Video Platform Design &amp; Development">Online TV &amp; Video Platforms</a></li>
								<li><a id="navBesCon" href="/specialities/bespoke-content-management-sytems.html" title="Bespoke Content Management System Design &amp; Development">Bespoke <abbr title="Content Management Systems">CMS</abbr> Development</a></li>
								<li><a id="navTaiECo" href="/specialities/tailored-ecommerce-websites.html" title="Tailored E-Commerce Design &amp; Development">Tailored E-Commerce Solutions</a></li>
							</ul>
						</nav>
					</li>
					<li><a href="/web-design-development-method.html" title="RiffRaff's Method For Web Design &amp; Development" id="navMethod">Method<i></i></a></li>
					<li><a href="/web-design-development-ethos.html" title="RiffRaff's Ethos for Web Design &amp; Development" id="navEthos">Ethos<i></i></a></li>
					<li><a href="/web-design-development-showcase.html" title="RiffRaff's Web Design &amp; Web Development Portolio" id="navShowcase">Showcase<i></i></a></li>
					<li>
						<a href="/contact-riffraff.html" title="Contact Details for RiffRaff" class="last" id="navContact">Contact<i></i></a>
						<div id="contactInfo" class="navSub clearfix">
							<div class="container clearfix">
								
								<address id="adr">
									<strong>Contact Details</strong>
									Suite 20, 65 Westgate Road<br />
									Newcastle Upon Tyne<br />
									Tyne &amp; Wear<br />
									NE1 1SG
								</address>
								
							<!-- END: ADDRESS -->								
								
								<dl id="contacts">
									<dt>Tel:</dt>
									<dd>+44 (0) 191 233 1153</dd>
									<dt>Sales:</dt>
									<dd><a href="mailto:sales@studioriffraff.com" title="Email About Web Design &amp; Web Development">sales@studioriffraff.com</a></dd>
									<dt>Support:</dt>
									<dd><a href="mailto:support@studioriffraff.com" title="Email For Existing Website Support">support@studioriffraff.com</a></dd>
									<dt>Careers:</dt>
									<dd><a href="mailto:careers@studioriffraff.com" title="Email For Existing Website Support">careers@studioriffraff.com</a></dd>
								</dl>
								
							<!-- END: CONTACT DETAILS -->

								<div id="hours">
									<strong>Office Hours</strong>
									<dl>
										<dt>Mon - Thurs:</dt>
										<dd>08:30 - 13:30</dd>
										<dt>Friday:</dt>
										<dd>08:30 - 13:30</dd>
									</dl>
								</div>
								
							<!-- END: OPENING HOURS -->

								<form action="#" method="get" id="getInTouch">
									<fieldset class="clearfix">
										<legend><a>We'll Call you...</a></legend>
										<dl>
											<dt><label for="GetinTouchName">Your Name</label></dt>
											<dd><input type="text" title="Enter your name" value="Leave us your name" id="GetinTouchName" /></dd>
											<dt><label for="GetinTouchPhone">Your Name</label></dt>
											<dd><input type="text" title="Enter your name" value="And now your telephone" id="GetinTouchPhone" /></dd>
										</dl>
										<button type="submit" class="btnCallMe" title="RiffRaff will Call you back">Call Me</button>
									</fieldset>
								</form>

							</div>
						</div>
					</li>
				</ul>
			</nav>
			
		</div>	
	</header>	
	

<!-- END LAYOUT (Header) [] -->
<!-- START LAYOUT (ID: Template) [All Content always sits inside the template] -->
		
	<div id="template" class="container clearfix">
		
		<article class="article5 three1Columns">
			
			<div class="clm1">
				<div class="box7 boxOffset4">
					<a href="#" title="View Showcase: Pokerstars.tv Online TV &amp; Video Platform">
						<img src="_assets/img/content/homepage/pokerStars.jpg" width="694" height="321" alt="PokerStars" />
						<span title="View: Pokerstars.tv Online TV &amp; Video Platform" class="icon4">View This Case Study</span>
					</a>
					<ul>
						<li>100,000 Lorem ipsum dolor</li>
						<li>500,000 lorem ipsum amet</li>
						<li>Amet solor et dolor</li>
						<li>Bespoke lorem ipsum dolor</li>
						<li>Kick ass ipsum amet et</li>
					</ul>
				</div>

				<div id="a5Intro">
					<h1>Not Just Any Old RiffRaff</h1>
					<p><strong> We are a smart, commercially-driven web development company</strong> specialising in the design and engineering of complex, high-volume websites and applications. Leveraging video technology and deep social engagement, we create immersive online experiences that improve conversion, lead generation and brand building.</p>				
				</div>

			<!-- END: Intro paragraph -->

				<a href="#" title="About: RiffRaff's Holistic Design Method for Websites" class="box box8 boxOffset5">
					<h2>Our Holistic Design Method</h2>
					<p>Intelligent design comes from the perfect balance between process and creativity. Click here to find out more about our development process, and how we use it to create engaging, insightful web solutions that pay for themselves and then some...</p>
					<span href="#" title="About: Our Hollistic Design Method for Websites" class="icon1">Read More</span>
				</a>
			</div>
			
			<div class="clm2">
				
				<a href="#" title="Hiring: Web Developer, User Interface, Project Manager" id="badge1">
					<img src="_assets/img/content/homepage/stamp1.png" width="189" height="159" alt="Calling All Geeks: We're Hiring! Click Here For Details" />
				</a>
				
			<!-- END: Hiring Sticker -->
	
				<div id="a5Specialities">
					<h2>Our Core Specialities</h2>
					<ul>
						<li><a href="#" title="Website Design &amp; Development with RiffRaff">Website Design &amp; Development</a></li> 
						<li><a href="#" title="Tailored E-Commerce Websites with RiffRaff">Tailored E-Commerce Solutions</a></li> 
						<li><a href="#" title="Bespoke CMS Websites with RiffRaff">Bespoke CMS Development</a></li> 
						<li><a href="#" title="Large Scale Web Applications with RiffRaff">Large Scale Web Applications</a></li> 
						<li><a href="#" title="Social &amp; Community Portals Websites with RiffRaff">Social &amp; Community Portals</a></li> 
						<li><a href="#" title="Online TV &amp; Video Platform Websites with RiffRaff">Online TV &amp; Video Platforms</a></li>
					</ul>
				</div>
				
			<!-- END: Specialities -->
				
				<aside id="a5Actions">
					<h2>Get in Touch</h2>
					<p>Explore our design process to learn how we do it, then give us a call to find out how we can do it for you.</p>
					<dl>
						<dt>Phone:</dt>
						<dd>0191 233 1151</dd>
						<dt>Email:</dt>
						<dd><a href="mailto:sales@studioriffraff.com" title="Email RiffRaff">sales@studioriffraff.com</a></dd>
					</dl>
				
				<!-- END: Contact -->
				
					<h2>Get A Quote</h2>
					<p>Complete our worksheet, send it back &amp; we'll get back to you with a quote</p>
					<a href="#" title="Download our worksheet" class="icon1">Download Worksheet</a>
				</aside>
				
			<!-- END: Asides -->
			
			</div>
			
		<!-- END: Right Column -->
		
			<footer>
				<div class="hr"><hr /></div>
				<nav>
					<ul class="threeColumns clearfix">
						<li class="clm">
							<a href="#" title="View: Why Riffraff Views Business As Karma" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-ethos-business-is-karma.png" width="322" height="87" alt="Our Ethos: Business Is Karma" />
								<span class="hover"></span>
							</a>
						</li>
						<li class="clm clmMiddle">
							<a href="#" title="View: How RiffRaff Design and Develop Websites" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-process-findout-how-we-do-it.png" width="322" height="87" alt="Our Process: Find out How We Do It" />
								<span class="hover"></span>
							</a>
						</li>
						<li class="clm">
							<a href="#" title="View: RiffRaff's Web Design &amp; Development Portfolio" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-portfolio.png" width="322" height="87" alt="Our Portfolio: See A Section of work" />
								<span class="hover"></span>
							</a>
						</li>
					</ul>
				</nav>
			</footer>
			
		</article>
		
	<!-- END Article -->
		
	
	
		
	

	</div>
		
<!-- END LAYOUT (ID: Template) [All Content Must have ended by here] -->
<!-- START LAYOUT (ID: Footer) [Copyright + Global Nav] -->

	<footer id="pageFooter">
		<div class="container">
			<address>
				<ul class="clearfix">
					<li id="email"><a href="mailto:info@studioriffraff.com" title="Email RiffRaff">info@studioriffraff.com</a></li>
					<li id="phone">+44 (0)191 233 1153</li>
					<li id="rss"><a href="#" title="Keep upto date via RSS">rss</a></li>
					<li id="twitter"><a href="#" title="RiffRaff on Twitter">twitter</a></li>
				</ul>
			</address>
		</div>	
		<div id="fShadow"></div>
	</footer>
	
	<script>ie7 = false; ie6 = false;</script>
	<!--[if lte IE 7]><script>ie7 = true;</script><![endif]-->
	<!--[if lt IE 7]><script> ie7 = false; ie6 	= true;</script><![endif]-->	
	
</body>
</html>