<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link href="_assets/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="_assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="_assets/css/typography.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 7]><link href="_assets/css/fix_ie7.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!--[if lt IE 7]><link href="_assets/css/fix_ie6.css" rel="stylesheet" type="text/css"/><![endif]-->
	
	<script src='_assets/js/jquery14.js'></script>
	<script src="_assets/js/jquery.easing.js"></script>
	<script src='_assets/js/application.js'></script>
	<!--[if IE]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<title>RiffRaff - Web Design &amp; Development</title>

</head>
<body>	
	
	
	<header>
		<div class="container clearfix">
			<a href="/" title="RiffRaff: Web Design &amp; Web Development" id="logo">
				<img src="_assets/img/riffRaff.png" width="114" height="26" alt="RiffRaff Logo" />
			</a>
			<nav id="navMain" class="navMain">
				<ul class="clearfix">
					<li><a href="/" title="View: RiffRaff Homepage" class="first" id="navHome">Home<i></i></a></li>
					<li class="active">
						<strong>
							<a href="/web-design-development-specialities.html" title="The Web Design &amp; Development Services RiffRaff Offer" id="navServices">Services</a>
						</strong>
						<nav class="navSub clearfix">
							<ul class="clearfix">
								<li><strong><a id="navAll" href="/web-design-development-specialities.html" title="The Web Design &amp; Development Services RiffRaff Offer">All Services</a></strong></li>
								<li><a id="navDesDev" href="/specialities/web-design-and-development.html" title="Website Design &amp; Development with RiffRaff">Web Design &amp; Development</a></li>
								<li><a id="navLarScal" href="/specialities/large-scale-web-applications.html" title="Large Scale Web Application Design &amp; Development">Large Scale Web Applications</a></li>
								<li><a id="navSocCom" href="/specialities/social-community-portal-websites.html" title="Social &amp; Community Portal Design &amp; Development">Social &amp; Community Portals</a></li>
								<li><a id="navOnlTv" href="/specialities/online-tv-video-platforms.html" title="Online TV &amp; Video Platform Design &amp; Development">Online TV &amp; Video Platforms</a></li>
								<li><a id="navBesCon" href="/specialities/bespoke-content-management-sytems.html" title="Bespoke Content Management System Design &amp; Development">Bespoke <abbr title="Content Management Systems">CMS</abbr> Development</a></li>
								<li><a id="navTaiECo" href="/specialities/tailored-ecommerce-websites.html" title="Tailored E-Commerce Design &amp; Development">Tailored E-Commerce Solutions</a></li>
							</ul>
						</nav>
					</li>
					<li><a href="/web-design-development-method.html" title="RiffRaff's Method For Web Design &amp; Development" id="navMethod">Method<i></i></a></li>
					<li><a href="/web-design-development-ethos.html" title="RiffRaff's Ethos for Web Design &amp; Development" id="navEthos">Ethos<i></i></a></li>
					<li><a href="/web-design-development-showcase.html" title="RiffRaff's Web Design &amp; Web Development Portolio" id="navShowcase">Showcase<i></i></a></li>
					<li>
						<a href="/contact-riffraff.html" title="Contact Details for RiffRaff" class="last" id="navContact">Contact<i></i></a>
						<div id="contactInfo" class="navSub clearfix">
							<div class="container clearfix">
								
								<address id="adr">
									<strong>Contact Details</strong>
									Suite 20, 65 Westgate Road<br />
									Newcastle Upon Tyne<br />
									Tyne &amp; Wear<br />
									NE1 1SG
								</address>
								
							<!-- END: ADDRESS -->								
								
								<dl id="contacts">
									<dt>Tel:</dt>
									<dd>+44 (0) 191 233 1153</dd>
									<dt>Sales:</dt>
									<dd><a href="mailto:sales@studioriffraff.com" title="Email About Web Design &amp; Web Development">sales@studioriffraff.com</a></dd>
									<dt>Support:</dt>
									<dd><a href="mailto:support@studioriffraff.com" title="Email For Existing Website Support">support@studioriffraff.com</a></dd>
									<dt>Careers:</dt>
									<dd><a href="mailto:careers@studioriffraff.com" title="Email For Existing Website Support">careers@studioriffraff.com</a></dd>
								</dl>
								
							<!-- END: CONTACT DETAILS -->

								<div id="hours">
									<strong>Office Hours</strong>
									<dl>
										<dt>Mon - Thurs:</dt>
										<dd>08:30 - 13:30</dd>
										<dt>Friday:</dt>
										<dd>08:30 - 13:30</dd>
									</dl>
								</div>
								
							<!-- END: OPENING HOURS -->

								<form action="#" method="get" id="getInTouch">
									<fieldset class="clearfix">
										<legend><a>We'll Call you...</a></legend>
										<dl>
											<dt><label for="GetinTouchName">Your Name</label></dt>
											<dd><input type="text" title="Enter your name" value="Leave us your name" id="GetinTouchName" /></dd>
											<dt><label for="GetinTouchPhone">Your Name</label></dt>
											<dd><input type="text" title="Enter your name" value="And now your telephone" id="GetinTouchPhone" /></dd>
										</dl>
										<button type="submit" class="btnCallMe" title="RiffRaff will Call you back">Call Me</button>
									</fieldset>
								</form>

							</div>
						</div>
					</li>
				</ul>
			</nav>
			
		</div>	
	</header>	
	

<!-- END LAYOUT (Header) [] -->
<!-- START LAYOUT (ID: Template) [All Content always sits inside the template] -->
		
	<div id="template" class="container clearfix">
		

		<article class="article4">
			
			<h1>Showcase</h1>
			<p class="intro">Page sub-heading will go below here lorem ipsum dolor sit amet consectetur...</p>
			
			
			<div class="box box10 boxOffset4 clearfix">
      <ul id="slideshow" class="clearfix">
          <li id="slide01" class="active methodSlide">
            <img src="_assets/img/content/method/consultancy_strategy_planning.png" alt="Consultancy, Strategy and Planning." />
            <div class="info">
              <h2>Consultancy, Strategy &amp; Planning</h2> 
              <p>There are so many trends and buzzwords around the web these days, it's difficult to know where to invest your online spend. Thankfully, we're in the business of creating sites that convert traffic into loyal paying customers. Our entire business model revolves around giving the very best impartial advice...</p>
              <a href="#" title="Read more on Consultancy, Strategy and Planning." class="icon1">Read More</a>
            </div>
          </li>
          <li id="slide02" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/information_architecture_and_user_experience_design.png" alt="Information Architecture and User-Experience Design." />
            <div class="info">
              <h2>Information Architecture &amp; User-Experience Design</h2> 
              <p>User Experience design begins with usability and intuitive navigation, but that's just the tip of the iceberg. At RiffRaff, our focus is on completely understanding your customers, so that we can deliver the right messages to the right people at the right time...</p>
              <a href="#" title="Read more on Information Architecture and User Experience Design." class="icon1">Read More</a>
            </div>
          </li>
          <li id="slide03" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/usability_and_interaction_design.png" alt="Usability and Interaction Design." />
            <div class="info">
              <h2>Usability &amp; Interaction Design</h2> 
              <p>A precisely designed and built user interface can have have an enormous psychological impact on your end-users, making your site feel faster, more responsive and intuitive to use. High quality, effective interaction design is extremely rare, and is one of our core specialities...</p>
              <a href="#" title="Read more on Usability and Interaction Design." class="icon1">Read More</a>
            </div>
          </li>
          <li id="slide04" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/user_Interface_development.png" alt="Brand and Creative Design." />
            <div class="info">
              <h2>Brand &amp; Creative Design</h2> 
              <p>Careful treatment of your brand, with effective use of typography and colour bring all of our deft engineering to life, and can make or break your customer's first impressions. When the design is right, it's the polish that makes your website shine, giving your business a quality and authority that makes you stand out...</p>
              <a href="#" title="Read more on Brand and Creative Design." class="icon1">Read More</a>
            </div>
          </li>
          <li id="slide05" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/user_Interface_development.png" alt="User Interface Development." />
            <div class="info">
              <h2>User Interface Development</h2>
              <p>All of our websites and applications are built using open standards, employing the very latest tools and technologies. Taking full advantage of web standards ensures more predictable compatibility across numerous computer and mobile platforms, as well as a number of other important benefits...</p>
              <a href="#" title="Read more on User Interface Development." class="icon1">Read More</a>
            </div>
          </li>
          <li id="slide06" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/technical_architecture_performance_and_optimisation.png" alt="Technical Architecture, Performance and Optimisation." />
            <div class="info">
              <h2>Technical Architecture, Performance &amp; Optimisation</h2> 
              <p>We specialise in large scale, high-volume web projects that need to perform predictably under enormous traffic. We employ a range of expertise, from meticulous planning and architecture to tried and tested optimisation techniques, both front-end and back, to ensure that your site is robust and responsive...</p>
              <a href="#" title="Read more on Technical Architecture, Performance and Optimisation." class="icon1">Read More</a> 
            </div>
          </li>
          <li id="slide07" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/website_and_application_development.png" alt="Website and Application Development." />
            <div class="info">
              <h2>Website &amp; Application Development</h2> 
              <p>With a thoroughly considered specification and world class design, we can begin to build your website or application. Our team of web developers are dedicated, creative fanatics; seasoned specialists in solving messy, complicated problems in simple, elegant ways...</p>
              <a href="#" title="Read more on Website and Application Development." class="icon1">Read More</a> 
            </div>
          </li>
          <li id="slide08" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/deployment_hosting_and_support.png" alt="Deployment, Hosting and Support.." />
            <div class="info">
              <h2>Deployment, Hosting &amp; Support</h2>
              <p>We can take care of everything for you; Installation, setup and ongoing maintenance. Our framework doesn't need anything fancy or expensive to run on, and can be deployed anywhere from an inexpensive shared host to a full-on dedicated server. The choice is yours...</p>
              <a href="#" title="Read more on Deployment, Hosting and Support." class="icon1">Read More</a> 
            </div>
          </li>	
          <li id="slide09" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/accessibility_and_dda_compliance.png" alt="Accessibility and DDA Compliance." />
            <div class="info">
              <h2>Accessibility &amp; DDA Compliance</h2>
              <p>Compliance with DDA recommendations and regulations can sometimes be challenging, with various levels of compliance, each more challenging than the last. To which level we optimise your website depends on your audience and their access requirements. We can help you identify the DDA criteria your website needs to meet, and design it to be accessible to your audience, whoever they happen to be...</p>
              <a href="#" title="Read more on Accessibility and DDA Compliance." class="icon1">Read More</a> 
            </div>
          </li>
          <li id="slide10" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/industry_standards_and_quality_assurance.png" alt="Industry Standards and Quality Assurance." />
            <div class="info">
              <h2>Industry Standards &amp; Quality Assurance</h2> 
              <p>We understand that patience and diligence pay dividends in the long run. We believe that a properly designed and crafted website will stand the test of time, and retain its integrity no matter how your customers use it...</p>
              <a href="#" title="Read more on Industry Standards and Quality Assurance." class="icon1">Read More</a> 
            </div>
          </li>
          <li id="slide11" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/user_testing_and_feedback.png" alt="User Testing and Feedback." />
            <div class="info">
              <h2>User Testing &amp; Feedback</h2> 
              <p>User Testing involves trialing your website or application on real users in real scenarios. It helps us to identify strengths and weaknesses in the design and functionality that you probably didn't know were there. Using this information, we can fine-tune your website to increase engagement and revenue...</p>
              <a href="#" title="Read more on User Testing and Feedback." class="icon1">Read More</a> 
            </div>
          </li>
          <li id="slide12" class="methodSlide" style="display:none;">
            <img src="_assets/img/content/method/analytics_and_multi-variate_testing.png" alt="Analytics and Multi-Variate Testing." />
            <div class="info">
              <h2>Analytics &amp; Multi-Variate Testing</h2> 
              <p>There's only one way to truly understand how people are using your website, and that's through observation. There are lots of analytics solutions available that give you a better understanding of who your users are, where they've come from, and what they're looking for. Using analytics effectively, you can begin to refine your content offering to meet their needs...</p>
              <a href="#" title="Read more on Analytics and Multi-Variate Testing." class="icon1">Read More</a> 
            </div>
          </li>
        </ul>
			</div>
			
		<!-- END: Featured Case Study -->
			
			<nav id="methodPagination" class="box boxOffset4 clearfix">
				<ul class="clearfix">
          <li class="prev"><a href="#" title="Previous Cells.">Previous</a></li>
					<li><a href="#" title="Consultancy, Strategy and Planning." class="cell01">Consultancy, Strategy &amp; Planning.</a></li>
					<li class="active"><a href="#" title="Information Architecture and User Experience Design." class="cell02">Information Architecture &amp; User Experience Design</a></li>
					<li><a href="#" title="Usability and Interaction Design." class="cell03">Usability &amp; Interaction Design</a></li>
					<li><a href="#" title="Brand and Creative Design." class="cell04">Brand &amp; Creative Design</a></li>
					<li><a href="#" title="User Interface Development." class="cell05">User Interface Development</a></li>
					<li><a href="#" title="Technical Architecture, Performance and Optimisation." class="cell06">Technical Architecture, Performance &amp; Optimisation</a></li>
					<li><a href="#" title="Read more on Website and Application Development." class="cell07">Website &amp; Application Development</a></li>
					<li><a href="#" title="Deployment, Hosting and Support." class="cell08">Deployment, Hosting &amp; Support.</a></li>
					<li><a href="#" title="Accessibility and DDA Compliance." class="cell09">Accessibility &amp; DDA Compliance</a></li>
					<li><a href="#" title="Industry Standards and Quality Assurance." class="cell10">Industry Standards &amp; Quality Assurance</a> </li>
					<li><a href="#" title="User Testing and Feedback." class="cell11">User Testing &amp; Feedback.</a></li>
					<li><a href="#" title="Analytics and Multi-Variate Testing." class="cell12">Analytics &amp; Multi-Variate Testing</a></li>
					<li class="next"><a href="#" title="Previous Cells.">next</a></li>
				</ul>
			</nav>
			
			
			<footer>
				<div class="hr"><hr /></div>
				<nav>
					<ul class="threeColumns clearfix">
						<li class="clm">
							<a href="#" title="View: Why Riffraff Views Business As Karma" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-ethos-business-is-karma.png" width="322" height="87" alt="Our Ethos: Business Is Karma" />
								<span class="hover"></span>
							</a>
						</li>
						<li class="clm clmMiddle">
							<a href="#" title="View: How RiffRaff Design and Develop Websites" class="box boxOffset1">
								<img src="_assets/img/content/aside/our-process-findout-how-we-do-it.png" width="322" height="87" alt="Our Process: Find out How We Do It" />
								<span class="hover"></span>
							</a>
						</li>
						<li class="clm">
							<form action="#" method="get" class="box boxOffset1 boxSignUp">
								<fieldset class="class">
									<img src="_assets/img/content/aside/sign-up-to-our-newsletter.png" width="322" height="87" alt="Sign Up To Our Newsletter" />
									<input type="text" value="enter your email adress..." />
									<button type="submit" title="RiffRaff Newsletter Sign Up">Sign Up</button>
								</fieldset>
							</form>
						</li>
					</ul>
				</nav>
			</footer>
			
			
			
		</article>
			

		
	
	
		
	

	</div>
		
<!-- END LAYOUT (ID: Template) [All Content Must have ended by here] -->
<!-- START LAYOUT (ID: Footer) [Copyright + Global Nav] -->

	<footer id="pageFooter">
		<div class="container">
			<address>
				<ul class="clearfix">
					<li id="email"><a href="mailto:info@studioriffraff.com" title="Email RiffRaff">info@studioriffraff.com</a></li>
					<li id="phone">+44 (0)191 233 1153</li>
					<li id="rss"><a href="#" title="Keep upto date via RSS">rss</a></li>
					<li id="twitter"><a href="#" title="RiffRaff on Twitter">twitter</a></li>
				</ul>
			</address>
		</div>	
		<div id="fShadow"></div>
	</footer>
	
	<script>ie7 = false; ie6 = false;</script>
	<!--[if lte IE 7]><script>ie7 = true;</script><![endif]-->
	<!--[if lt IE 7]><script> ie7 = false; ie6 	= true;</script><![endif]-->	
	
</body>
</html>